* {
  margin: 0;
  padding: 0;
}

body {
  color: #502314;
  background-color: #f5ebdc;
  font-family: 'Roboto', sans-serif;
}

.fondoNaranja {
  color: white;
  background-color: #ff8533;
}

.fondoRojo {
  color: white;
  background-color:#d72300;
}

.fondoMarron {
  color: white;
  background-color: #502314;
}